@model ConditionViewModel

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("","About") })>

    <div class="card text-center shadow">
        <div class="card-header bg-info">
            <h2>@Model.Condition</h2>
        </div>
    </div>
