@model AboutViewModel

<partial name="_Breadcrumbs" model=@(new [] { ("", "Home") })>


    <div class="card text-center shadow">
        <div class="card-header bg-info">
            <h1> Welcome</h1>
        </div>
        <div class="card-body">

            <div><h4 class="text-center">Partially Automated Online Consultation.</h4></div><br>

            <div><h5 class="text-danger">Please Choose Your Profile to Log in or Register</h5></div>

            <br>

            <div class=" text-center">
                <div class="nav-item">
                    <a class="btn btn-primary" asp-controller="User" asp-action="Login">Patient</a>
                    <a class="btn btn-primary" asp-controller="User" asp-action="Login">Doctor</a>
                    <a class="btn btn-primary" asp-controller="User" asp-action="Login">Admin</a>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="text-center"> Today is <b> @DateTime.Now.ToLongDateString() </b> </div>
            </div>
        </div>

    </div>
