@model Patient


<h3 class="mt=4 mb-4">Patient Details</h3>

<!-- Description list of student details -->
<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.User.Name</dd>

    <dt class="col-sm-3">Age</dt>
    <dd class="col-sm-9">@Model.Age</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.User.Email</dd>

</dl>

<!-- Create a partial _Ailments and render the Patient Ailments -->
<partial name="_Ailments" />


<!-- navigation links to create a ticket or return to Index -->
<div class="mt-4 mb-4">
    <!-- add link to redirect to Index action -->
    <a asp-action="Index" class="btn btn-sm btn-default">
       Back to Dashboard
    </a>
</div>